.qf-login {
  background-color: rgba(0, 22, 41, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .wrap {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 520px;
    margin-left: -260px;
    background-color: white;
    border-radius: 5px;
    padding-top: 25px;
  }
}
