html,body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.app { height: 100%; }

$c: green;
$f: 80px;

.foo {
  color: $c;
  font-size: $f;
}

.grid {
  &>div {
    width: 210px;
    height: 70px;
    display: flex;
    &>span {
      flex: 1;
      border: 1px solid #ccc;
      height: 70px;
    }
  }
}

.lang {
  span {
    display: inline-block;
    width: 100px;
    line-height: 80px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
  }
  span.on {
    background-color: red;
    color: white;
  }
}

.f1 { font-size: 30px; }
.c1 { color: red; }
.c2 { color: blue; }
.c3 { color: green; }

.no { display: none; }

.qf-layer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  .model {
    position: absolute;
    top: 120px;
    width: 520px;
    left: 50%;
    margin-left: -260px;
    background: white;
    box-sizing: border-box;
    padding: 0 15px;
    border-radius: 5px;
    .header {
      line-height: 60px;
      height: 60px;
      overflow: hidden;
      border-bottom: 1px solid #eee;
      .tip {
        float: left;
        font-size: 14px;
      }
      .close {
        float: right;
        cursor: pointer;
        font-size: 14px;
      }
    }
    .body {
      padding: 15px 0;
      font-size: 14px;
    }
    .footer {
      height: 60px;
      overflow: hidden;
      border-top: 1px solid #eee;
      span {
        float: right;
        display: inline-block;
        height: 30px;
        margin-top: 15px;
        padding: 0 20px;
        line-height: 28px;
        box-sizing: border-box;
        border: 1px solid transparent;
        margin-left: 15px;
        border-radius: 3px;
        font-size: 12px;
      }
      span.delete {
        background-color: red;
        color: white;
        border-color: red;
      }
      span.cancel {
        border-color: #ccc;
      }
      span.confirm {
        background: blue;
        border-color: blue;
        color: white;
      }
    }
  }
}
